# Data
/data/

# Experiment outputs (logs, checkpoints, hydra configs)
/experiments/
/outputs/
/checkpoints/
/tensorboard/
/media/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/
venv/
env/

# Hydra specific
multirun/
.hydra/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
